<div style="padding:15px; margin-bottom: 45px;">
    <div>
        <div style="height: 100px; display: inline-block;float: left;">
            <img src="@{'/public/images/icons/checkIcon.png'}" style="height:50px"/>
        </div>
        <div style="display: inline-block; float: left; width: 80%; margin-left: 15px;">
            <p>Bruker er opprettet med følgende detaljer</p>
            <div>
                <strong style="width: 130px; display:inline-block">Kontaktperson:</strong>
                <span>${bruker.navn}</span>
            </div>
            <div>
                <strong style="width: 130px; display:inline-block">E-postadresse:</strong>
                <span>${bruker.epost}</span>
            </div>
            <div>
                <strong style="width: 130px; display:inline-block">Telefonnummer:</strong>
                <span>${bruker.telefonnummer}</span>
            </div>
            <div>
                <strong style="width: 130px; display:inline-block">Adresse:</strong>
                <span>${bruker.adresse}</span>
            </div>
            <div>
                <strong style="width: 130px; display:inline-block">Passord:</strong>
                <span>${bruker.password}</span>
            </div>
        </div>
    </div>

</div>