<div style="width: 100%; height: 20px; background-color: #0B4F72; color:white;padding-top: 15px;">
    <span style="font-size: 16px;padding-left: 15px;">Brukeroversikt</span>
</div>

<div style="margin: 15px;">
    <p>Alle brukere i systemet vises i listen under. TODO: legg inn mulighet til å deaktivere brukere. TODO 2: gjør det mulig å endre brukerinformasjon. TODO 3: Skjul passordet bak en lenke "vis passord"</p>

    <div style="overflow-y: auto; height: 200px;">
    <table class="table table-striped">
        <thead>
            <th>Kontaktperson</th>
            <th>Adresse</th>
            <th>Telefonnummer</th>
            <th>E-postadresse</th>
            <th>Passord</th>
            <th>Sist innlogget</th>
            <th>Aktiv</th>
        </thead>

        <tbody>
        #{list items:brukere, as:'bruker'}
            <tr>
                <td>${bruker.navn}</td>
                <td>${bruker.adresse}</td>
                <td>${bruker.telefonnummer}</td>
                <td>${bruker.epost}</td>
                <td>${bruker.password}</td>
                <td>${bruker.sisteInnloggingsdato == null ? "-" : bruker.sisteInnloggingsdato.format("HH:mm dd.MM.yyyy")}</td>
                <td>${bruker.deaktivert ? "NEI" : "Ja"}</td>
            </tr>
        #{/list}
        </tbody>
    </table>
    </div>
</div>