html, body{
    width: 100%; height: 100%; background-color: #f5f5f5;
}

#heading{
    width: 100%; height: 46px;background-color: #0B4F72;padding-top: 46px;
}

#heading .mainArea{
    width: 60%;
    margin-left:20%;
    display: inline-block;
    float:left;
}

#heading .mainArea .usermenu{
    float:right;
}

#heading .mainArea .logo{
    padding-left: 5px;
    font-size: 51px;
    font-family: verdana;
    color: #f5f5f5;
}

#content{
    margin-left:10%; width: 80%; margin-top: -17px; background-color: #fff;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    padding: 15px;
    padding-top: 35px;

    -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
}

#profilmeny, #administrasjonsmeny{
    margin-top: 29px;
    margin-left: -80px;
    display: none;
    float:left;
    position: fixed;

    border: 1px solid rgb(218, 218, 218);

    background-color: #fff;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;

    -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
}

#profilmeny, #administrasjonsmeny{
    margin-top: 29px;
    margin-left: -80px;
}

#administrasjonsmeny{
    margin-top: 29px;
    margin-left: -195px;
}

#profilmeny ul, #administrasjonsmeny ul{ list-style-type: none; margin:5px 10px 5px 10px; }
#profilmeny ul li, #administrasjonsmeny ul li{ color:black; }
#profilmeny ul i, #administrasjonsmeny ul i{ margin-right: 5px; }

#loginTrouble{
    font-size: 10px;
}

#loginTrouble a{ display: block; }
#loginTrouble a img { height: 6px; }

.darkWell{ background-color: #DFDFDF; }
.genrericShadow{-webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2); -moz-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2); box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);}

label{
    font-size: 10px; margin-bottom: 0; font-family: verdana; font-weight: bold; cursor: default;
}

a, .pointer{ cursor: pointer; }

#languageChooser{ position: absolute; top:0; }
#languageChooser ul{ list-style-type: none; color: #f5f5f5; }
#languageChooser ul li{ display: inline; }
#languageChooser ul li:hover{ text-decoration: underline; }
