#modal{
    z-index: 5;
    position: absolute;
    top: 13%;
    margin-left: 22%; width: 56%;


    background-color: #fff;

    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;


    -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
}

#dark-overlay{
    z-index: 4;
    position: absolute;
    top:0;
    left:0;

    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;

    background-color: #000;
    opacity: 0.7;
}