#{extends 'main.html' /}
#{set title:'Home' /}

<div class="row-fluid">
    <div>
        <h2>Feil passord</h2>
        <p>Hvis du har glemt passordet til din konto </p>
    </div>
    #{loginTrouble /}
</div>