#{extends 'main.html' /}
#{set title:'Login - Project Selvik' /}

<div class="row-fluid" style="min-height: 300px">
    <h2>Innlogging</h2>
    #{form @SecurityController.login()}

        <span style="float: left; margin-right: 15px;">
            <label for="username">&{'epostadresse'}</label>
            <input id="username" name="username" type="text" class="input-large">
        </span>

        <span style="float: left; margin-right: 15px;">
            <label for="username">&{'passord'}</label>
            <input name="password" type="password" class="input-large">
        </span>

        <span>
            <label>&nbsp</label>
            <input type="submit" value="&{'logg_inn'}" class="btn btn-primary">   <!--make me pointy.. arrow button?-->
        </span>
    #{/form}

    #{loginTrouble /}


</div>

