<div id="loginTrouble">

    <a id="forgotPassword" href="javascript:toggleForgottenPasswordInfo();">
        <img class="closeArrow" src="@{'/public/images/trekant-lukket.png'}" />
        <img class="openArrow hide" src="@{'/public/images/trekant-open.png'}" />
        <span>Glemt passord?</span>
    </a>
    <div id="forgottenPasswordInfo" class="well-small darkWell genrericShadow hide" style="margin-bottom: 15px;">
        <a href="javascript:toggleForgottenPasswordInfo();" class="pull-right" style="margin-top:-12px;">
            <span style="font-size:10px;vertical-align: sub;">Lukk</span>
            <i class="icon-remove"></i>
        </a>
        <p>Fusce in lorem vel mi scelerisque feugiat. Duis a tincidunt lectus. Nam porta ipsum lacus, et fringilla leo viverra id. Suspendisse sollicitudin purus in quam venenatis sagittis. Duis dignissim porttitor eros vitae interdum. Sed sed tempus diam. Quisque lacinia facilisis viverra. Etiam non diam turpis. Mauris blandit, nunc et sagittis blandit, ligula eros euismod metus, non mollis orci enim eget arcu.</p>
        #{form @SecurityController.glemtPassord()}
                <span style="float: left; margin-right: 15px;">
                    <label>E-postadresse</label>
                    <input type="email" name="epost" placeholder="Din registrerte e-postadresse" class="input-xlarge"/>
                </span>
                <span>
                    <label>&nbsp</label>
                    <input type="submit" value="Send nytt passord" class="btn-primary"/>
                </span>
        #{/form}
    </div>


    <a id="missingAccount" href="javascript:toggleMissingAccount();">
        <img class="closeArrow" src="@{'/public/images/trekant-lukket.png'}" />
        <img class="openArrow hide" src="@{'/public/images/trekant-open.png'}" />
        <span>Mangler du konto?</span>
    </a>
    <div id="missingAccountInfo" class="well-small darkWell genrericShadow hide">
        <a href="javascript:toggleMissingAccount();" class="pull-right" style="margin-top:-12px;">
            <span style="font-size:10px;vertical-align: sub;">Lukk</span>
            <i class="icon-remove"></i>
        </a>
        <p>Fusce in lorem vel mi scelerisque feugiat. Duis a tincidunt lectus. Nam porta ipsum lacus, et fringilla leo viverra id. Suspendisse sollicitudin purus in quam venenatis sagittis. Duis dignissim porttitor eros vitae interdum. Sed sed tempus diam. Quisque lacinia facilisis viverra. Etiam non diam turpis. Mauris blandit, nunc et sagittis blandit, ligula eros euismod metus, non mollis orci enim eget arcu.</p>
        <p style="padding-bottom:0; margin-bottom:0;">
            Morbi semper, sem quis molestie mattis, nunc libero convallis risus, a elementum justo magna eu justo. Ut congue pulvinar risus, vitae sollicitudin tortor ultricies id. Ut id urna ac ligula faucibus accumsan in eu lorem. Curabitur quis diam nibh. Morbi ut mattis nulla. Quisque sagittis porttitor rhoncus. Maecenas et tincidunt arcu, sit amet adipiscing sapien. Fusce tempus laoreet rhoncus. Etiam congue vehicula massa, vel posuere libero pellentesque id. Sed ac accumsan nulla, in fermentum mauris. Curabitur ipsum risus, bibendum vel urna ac, lobortis lacinia diam.
        </p>
    </div>
</div>


<script type="text/javascript">
    function toggleMissingAccount(){
        $('#missingAccountInfo').toggle('fast');
        $('#missingAccount .closeArrow').toggle();
        $('#missingAccount .openArrow').toggle();
    }

    function toggleForgottenPasswordInfo(){
        $('#forgottenPasswordInfo').toggle('fast');
        $('#forgotPassword .closeArrow').toggle();
        $('#forgotPassword .openArrow').toggle();
    }
</script>