<div style="width: 100%; height: 20px; background-color: #0B4F72; color:white;padding-top: 15px;">
    <span style="font-size: 16px;padding-left: 15px;">Adresseinformasjon</span>
</div>

#{form @ModalController.oppdaterAdresseInfo(), id:'adresseForm'}
<div style="padding: 15px;">
    <div id="currentAdresseInfo">
        <div class="elem">
            <strong>Kontaktperson:</strong>
            <span class="hardtext pointer">${user.navn}</span>
            <input type="text" style="display:none" value="${user.navn}" class="softtext" name="navn" />
            <i class="icon-pencil pointer" style="display:none"></i>
            <span class="btn btn-primary softtext lagre" style="display:none; margin-bottom: 10px;">Lagre</span>
            <span class="btn btn-inverse softtext avbryt" style="display:none; margin-bottom: 10px;">Avbryt</span>
        </div>
        <div class="elem">
            <strong>Telefonnummer:</strong>
            <span class="hardtext pointer">${user.telefonnummer}</span>
            <input type="text" style="display:none" value="${user.telefonnummer}" class="softtext" name="telefonnummer" />
            <i class="icon-pencil pointer" style="display:none"></i>
            <span class="btn btn-primary softtext lagre" style="display:none; margin-bottom: 10px;">Lagre</span>
            <span class="btn btn-inverse softtext avbryt" style="display:none; margin-bottom: 10px;">Avbryt</span>
        </div>
        <div class="elem">
            <strong>E-postadresse:</strong>
            <span class="hardtext pointer">${user.epost}</span>
            <input type="text" style="display:none" value="${user.epost}" class="softtext" name="epost"/>
            <i class="icon-pencil pointer" style="display:none"></i>
            <span class="btn btn-primary softtext lagre" style="display:none; margin-bottom: 10px;">Lagre</span>
            <span class="btn btn-inverse softtext avbryt" style="display:none; margin-bottom: 10px;">Avbryt</span>
        </div>
        <div class="elem">
            <strong>Adresse:</strong>
            <span class="hardtext pointer">${user.adresse}</span>
            <input type="text" style="display:none" value="${user.adresse}" class="softtext" name="adresse" />
            <i class="icon-pencil pointer" style="display:none"></i>
            <span class="btn btn-primary softtext lagre" style="display:none; margin-bottom: 10px;">Lagre</span>
            <span class="btn btn-inverse softtext avbryt" style="display:none; margin-bottom: 10px;">Avbryt</span>
        </div>
    </div>

</div>

#{/form}

<script>
    $(document).ready(function(){

        var elementer = $('#currentAdresseInfo').find('div');
        $(elementer).hover(
                function(){
                    $(this).closest('.elem').find('.icon-pencil').show();
                },
                function(){
                    $(this).closest('.elem').find('.icon-pencil').hide();
                }
        );

        $('.hardtext, .icon-pencil').click(function(){
            $(this).parent().find('.softtext').show();
            $(this).parent().find('input').focus();
            $(this).parent().find('.hardtext').hide();
            $(this).parent().find('.icon-pencil').hide();
        });

        $('.avbryt').click(function(){
            var element = $(this).closest('.elem');
            $(element).find('.hardtext').show();
            $(element).find('.softtext').hide();
            $(element).find('input').val($(element).find('.hardtext').text());
            $(element).find('.icon-pencil').hide();
        });

        $('.lagre').click(function(){
            var element = $(this).closest('.elem');
            $(element).find('.hardtext').text($(element).find('input').val());
            $(element).find('.hardtext').show();
            $(element).find('.softtext').hide();
            $(element).find('.icon-pencil').hide();

            $('#adresseForm').ajaxSubmit();

        });


    });
</script>