<div style="width: 100%; height: 20px; background-color: #0B4F72; color:white;padding-top: 15px;">
    <span style="font-size: 16px;padding-left: 15px;">Avtalestatus</span>
</div>

<div style="padding:15px; margin-bottom: 45px;">
    <div>
        <div style="height: 100px; display: inline-block;float: left;">
            <img src="@{'/public/images/icons/checkIcon.png'}" style="height:50px"/>
        </div>
        <div style="display: inline-block; float: left; width: 80%; margin-left: 15px;">Deres avtale er gyldig til og med XX.XX.xxxx. Avtalen fornyes automatisk i henhold til gjeldene avtale.</div>
    </div>

</div>