<div style="width: 100%; height: 20px; background-color: #0B4F72; color:white;padding-top: 15px;">
    <span style="font-size: 16px;padding-left: 15px;">Legg til bruker</span>
</div>
<div id="modalMainUser" style="margin: 15px">
    <p>Som administrator har du muligheten til å legge til brukere. Pass på at all informasjon er korrekt lagt inn!</p>

    #{form @AdminController.leggTilBruker(), id:'leggtilbrukerform'}
    <div>
        <div>
            <strong style="width: 130px; display:inline-block">Kontaktperson:</strong>
            <input type="text" class="input-xlarge" name="kontaktperson" />
        </div>
        <div>
            <strong style="width: 130px; display:inline-block">E-postadresse:</strong>
            <input type="text" class="input-xlarge" name="epost" />
        </div>
        <div>
            <strong style="width: 130px; display:inline-block">Telefonnummer:</strong>
            <input type="text" class="input-xlarge" name="telefonnummer" />
        </div>
        <div>
            <strong style="width: 130px; display:inline-block">Adresse:</strong>
            <input type="text" class="input-xlarge" name="adresse" />
        </div>
        <div>
            <strong style="width: 130px; display:inline-block">Passord:</strong>
            <input type="text" class="input-xlarge" name="passord" />
        </div>
        <input type="submit" class="btn btn-primary" value="Opprett bruker" style="margin-left: 135px;" />
    </div>
    #{/form}
</div>

<script src="@{'/public/javascripts/vendor/ajaxform.js'}" type="text/javascript" charset="${_response_encoding}"></script>
<script>
    $(document).ready(function(){
        $('#leggtilbrukerform').ajaxForm({
            target:'#modalMainUser'
        });
    });
</script>