#{extends 'main.html' /}

#{set title:'Overview' /}

#{set 'moreStyles'}
    #{get 'moreStyles' /}
    <link rel="stylesheet" media="screen" href="@{'/public/bootstrap/css/accwizard.min.css'}">
#{/set}

#{set 'moreScripts'}
    <script src="@{'/public/bootstrap/js/accwizard.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>
    <script src="@{'/public/javascripts/PageOneController.js'}" type="text/javascript" charset="${_response_encoding}"></script>
#{/set}


<div id="mainTarget">
    <div class="row-fluid acc-wizard">
        <div class="span3">
            <ol class="acc-wizard-sidebar" style="margin-top: 55px;">
                <li class="acc-wizard-todo"><a href="#steg1">Personopplysninger</a></li>
                <li class="acc-wizard-todo"><a href="#steg2">Kontaktinformasjon</a></li>
                <li class="acc-wizard-todo"><a href="#steg3">Id og reisedokumenter</a></li>
                <li class="acc-wizard-todo"><a href="#steg4">Tidligere opphold i Norge</a></li>
                <li class="acc-wizard-todo"><a href="#steg5">Tillatelsen du søker om</a></li>
                <li class="acc-wizard-todo"><a href="#steg6">Familieinnvandring</a></li>
                <li class="acc-wizard-todo"><a href="#steg7">Første søknad/endringer</a></li>
                <li class="acc-wizard-todo"><a href="#steg8">Tillatelse til utdanning</a></li>
                <li class="acc-wizard-todo"><a href="#steg9">Utenlandsopphold</a></li>
                <li class="acc-wizard-todo"><a href="#steg10">Familiemedlemmer</a></li>
                <li class="acc-wizard-todo"><a href="#steg11">Straffbare forhold</a></li>
                <li class="acc-wizard-todo"><a href="#steg12">Fullmakt</a></li>
                <li class="acc-wizard-todo"><a href="#steg13">Underskrift</a></li>
                <li class="acc-wizard-todo"><a href="#steg14">Barn/umyndiggjort søker</a></li>
            </ol>
        </div>


        <div class="span9">
            <div>
                <h2>Søknad om tillatelse til arbeid og opphold</h2>
                <p>Ecce ubi est secundus demolitione. Historias potus in amivadum. Est salvus brodium, cesaris, mineraliss observare in ferox tectum. Varius itineris tramitems ducunt ad extum abnobas manducare in lutetia.</p>
            </div>


            <div class="accordion" id="accordionContent">

                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordionContent" href="#steg1">
                            1. Personopplysninger
                        </a>
                    </div>
                    <div id="steg1" class="accordion-body collapse in">
                        <div class="accordion-inner">
                            Anim pariatur cliche...

                            <div class="acc-wizard-step float-right">
                                <button class="btn" type="reset">Tilbake</button>
                                <button class="btn btn-primary" type="submit">Lagre og gå videre</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordionContent" href="#steg2">
                            2. Kontaktinformasjon
                        </a>
                    </div>
                    <div id="steg2" class="accordion-body collapse">
                        <div class="accordion-inner">
                            Anim pariatur cliche...
                            <div class="acc-wizard-step float-right">
                                <button class="btn" type="reset">Tilbake</button>
                                <button class="btn btn-primary" type="submit">Lagre og gå videre</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordionContent" href="#steg3">
                            3. Id og reisedokumenter
                        </a>
                    </div>
                    <div id="steg3" class="accordion-body collapse">
                        <div class="accordion-inner">
                            Anim pariatur cliche...
                            <div class="acc-wizard-step float-right">
                                <button class="btn" type="reset">Tilbake</button>
                                <button class="btn btn-primary" type="submit">Lagre og gå videre</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordionContent" href="#steg4">
                            4. Tidligere opphold i Norge
                        </a>
                    </div>
                    <div id="steg4" class="accordion-body collapse">
                        <div class="accordion-inner">
                            Anim pariatur cliche...
                            <div class="acc-wizard-step float-right">
                                <button class="btn" type="reset">Tilbake</button>
                                <button class="btn btn-primary" type="submit">Lagre og gå videre</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordionContent" href="#steg5">
                            5. Familieinnvandring
                        </a>
                    </div>
                    <div id="steg5" class="accordion-body collapse">
                        <div class="accordion-inner">
                            Anim pariatur cliche...
                            <div class="acc-wizard-step float-right">
                                <button class="btn" type="reset">Tilbake</button>
                                <button class="btn btn-primary" type="submit">Lagre og gå videre</button>
                            </div>
                        </div>
                    </div>
                </div>


            </div>



        </div>
    </div>



</div>
